<html>
    <head>
    </head>
    <body>
        <table>
            <tr>
                <th>Log</th>
                <th>Bounty</th>
            </tr>
            <tr>
                <td>
                    <textarea id="log" style="width: 400; height: 300;" scrolltop="scrollheight"></textarea>
                </td>
                <td>
                    <textarea id="bounty" style="width: 320; height: 200;"></textarea>
                </td>
            </tr>
        </table>
    <script src="{{evil_js}}"></script>
    </body>
</html>
